<h1>Detalhes do produto</h1>
<div class="detalhes">
    <p>id: {{produtoDetalhe.id}}</p>
    <p>nome: {{produtoDetalhe.nome}}</p>
    <p>preço: {{produtoDetalhe.preco}}</p>
    <p>categoria: {{produtoDetalhe.categoria}}</p>
    <p>fabricante: {{produtoDetalhe.fabricante}}</p>
    <p>quantidade disponivel: {{produtoDetalhe.estoque}}</p>
</div>